* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}

#players-win {
    display: flex;
}

#players-win {
    display: flex;
    flex-direction: column;
}

#game-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

#players {
    display: flex;
    align-items: center;
}

.card,
.winer,
button {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin: 5px;
}

button {
    border-color: #008080;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    background-color: #008080;
}

button:hover {
    cursor: pointer;
    background-color: #00b3b3;
    box-shadow: 0 0 10px #00b3b3;
}

.card {
    border-radius: 5px;
    padding: 20px;
    width: 150px;
    background-color: white;
    color: black;
}

.winer {
    border-radius: 5px;
    padding: 20px;
    width: 150px;
    background-color: #008080;
    box-shadow: 0 0 10px #008080;
}